/* Tablet && Mobile */
@media (max-width : 1023px)  {
    .hide-tablet {
        display: none;
    }
    .show-tablet {
        display: block;
    }
    .content {
        width: 100%;
    }
    .content-header {
        display: flex;
        justify-content: space-between;
    }
    .content-header img {
        width: 70px;
        border-radius: 50%;
        margin: 12px 24px;
    }
    .btn-menu {
        background-color: transparent;
        padding: 0 24px;
        font-size: 36px;
    }
    .btn-menu:hover {
        background-color: var(--hover-color);
    }
    .offcanvas-start {
        width: 300px;
    }
    .btn-close {
        font-size: 28px;
    }
}


/* Mobile */
@media (max-width:576px) {
    .hide-mobile {
        display: none;
    }
    .content-character ,
    .contact-box ,
    .footer {
        flex-direction: column;
    }
    .content-character-img:last-child{
        margin-top: -20px;
    }
    .content-course-info {
        flex-direction: column;
    }
    .content-course-list:nth-child(1),
    .content-course-list:nth-child(2) {
        margin-bottom: 15px;
    }
    .footer-list h4 {
        margin-top: 10px;
        font-size: 25px;
    }
    .modal-dialog {
        margin: 100px auto;
        width: 90%;
    }
    .modal-body {
        padding: 10px ;
        margin-top: 0;
    }
    .btn-close {
        font-size: smaller;
    }
    .modal-body-form i {
        width: 40px;
    }
    .modal-body-form input {
        padding: 8px;
    }
    .modal-footer-social {
        padding: 24px 0;
    }
    .modal-body-sign {
        flex-direction: column;
        margin-top: 12px;
    }
    .modal-body-btn {
        width: 100%;
        margin-top: 12px;
    }
    .modal-body-btn button{
        margin-left: 0;
        width: 100%;
        padding: 10px 24px;
    }
    .content-select-btn {
        padding: 6px 12px;
    }
}